@use '@/scss/utils/variables' as *;
@use '@/scss/utils/mixins' as *;

.courses {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    @include fluid-prop(margin-bottom, 30px, 70px);
  }

  &__empty {
    grid-column: 1 / -1;
  }
}

.course-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  border: 1px solid $color-border;
  border-radius: 4px;

  background: $color-white;
  box-shadow: $shadow-complex-small;

  &:hover {
    box-shadow: $shadow-complex-regular;
  }

  &__image { 
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;

    // flex-grow: 1;  // это бы поставило цены + автор в один ряд у карточек
  }

  &__category {
    display: inline-flex;
    align-items: center;

    width: fit-content;
    padding-block: 1px;
    padding-inline: 8px;
    border-radius: 4px;

    color: $color-white;

    @each $name, $color in $colors-category {
      &--#{$name} {
        background-color: $color;
      }
    }
  }

  &__title {
    @include fluid-prop(font-size, $text-lg, $text-xl);

    font-weight: $font-bold;
  }

  &__info {
    display: flex;
    gap: 8px;
    align-items: center;

    margin-top: auto;

    font-size: $text-lg;
  }

  &__price {
    font-weight: $font-bold;
    color: $color-text-price;
  }

  &__author {
    color: $color-text-secondary;

    &::before {
      content: "";

      transform: translateY(2px);

      display: inline-block;

      width: 1px;
      height: 16px;
      margin-right: 8px;

      background-color: $color-text-secondary; 
    }
  }
}

.tabs {
  @media (width <= 480px) {
    justify-content: center; 
  }
}

.tabs__item {
  @media (width <= 480px) {
    flex: 1 1 auto;
    min-width: fit-content;
  }
}

.empty-state {
  padding-block: 60px;
  padding-inline: 20px;
  color: #787a80;
  text-align: center;

  &__title {
    @include fluid-prop(font-size, $text-lg, $text-xl);

    margin-bottom: 8px;
  }

  &__subtitle { 
    @include fluid-prop(font-size, $text-sm, $text-base);
  }
}
