$color-primary: #FF3F3A;

// $color-secondary: #FFCF2D;

$color-white: #FFF; // for bg, text

$colors-category: (
  "marketing": #03CEA4,
  "management": #5A87FC,
  "hr": #F89828,
  "design": #F52F6E,
  "development": #7772F1
);
$color-text-main: #1E212C; // gray 900
$color-text-secondary: #787A80; // gray 700
$color-text-filters: #9A9CA5; // gray 600
$color-text-price: #FF4242;
$color-text-load-more: #424551; // gray 800 - load more text + icon

$color-border: #E5E8ED; // gray 300
$color-border-search: #D7DADD; // gray 400

$color-hover: rgb(0 0 0 / 5%);
$shadow-complex-small: 
  0 80px 80px -20px rgb(154 156 165 / 8%),
  0 30px 24px -10px rgb(154 156 165 / 5%),
  0 12px 10px -6px rgb(154 156 165 / 4%),
  0 4px 4px -4px rgb(30 33 44 / 3%);
$shadow-complex-regular: 
  0 80px 80px -20px rgb(154 156 165 / 16%),
  0 30px 24px -10px rgb(154 156 165 / 10%),
  0 12px 10px -6px rgb(154 156 165 / 8%),
  0 4px 4px -4px rgb(30 33 44 / 5%);

// ---

$font-normal: 400;
$font-bold: 700;
$font-black: 900;
$text-2xs: 10px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-3xl: 30px;
$text-5xl: 46px;
$leading-xs: 1.3;
$leading-base: 1.5;
$leading-lg: 1.6;

// ---

$container-width: 1260px;

// ---

$transition-base: all 0.3s ease;

// ---

// body = Lato Regular (400) 14, line height 150%, letter spacing 0%


// Lato Black (900) 46, line height 130%, letter spacing 0% - "h1" - title
// Lato Bold (700) 16, line height 150%, letter spacing 1px - "h6" - subtitle

// Lato Bold (700) 16, line height 160%, letter spacing 0% - "base/bold" - text filter
// Lato Bold (700) 10, line height 150%, letter spacing 0% - "extraextrasmall/bold" - sup text filter
// Lato Regular (400) 14, line height 150%, letter spacing 0% - "small/regular" - search text, card category

// Lato Bold (700) 20, line height 150%, letter spacing 0% - "lead/bold" - card title
// Lato Regular (400) 18, line height 150%, letter spacing 0% - "large/regular" - card person_name
// Lato Bold (700) 18, line height 150%, letter spacing 0%  - "large/bold" - card price
// Lato Bold (700) 16, line height 160%, letter spacing 0%  - "base/bold" - "load more" text

// shadow-small:
// x 0 y 80 blur 80 spread -20 color 9A9CA5 8%
// x 0 y 30 blur 24 spread -10 color 9A9CA5 5%
// x 0 y 12 blur 10 spread -6 color 9A9CA5 4%
// x 0 y 4 blur 4 spread -4 color 1e212c 3%

// shadow-regular:
// x 0 y 80 blur 80 spread -20 color 9A9CA5 16%
// x 0 y 30 blur 24 spread -10 color 9A9CA5 10%
// x 0 y 12 blur 10 spread -6 color 9A9CA5 8%
// x 0 y 4 blur 4 spread -4 color 1e212c 5%