@use '@/scss/utils/variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  height: 100%;
}

body {
  overflow-x: hidden;

  min-height: 100vh;

  font-family: Lato, sans-serif;
  font-size: $text-sm;
  font-weight: $font-normal;
  line-height: $leading-base;
  color: $color-text-main;

  background-color: $color-white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: transparent;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}

*:focus-visible {
  outline: 1px solid $color-text-filters;
}

.sr-only {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}
